In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

pd.options.mode.chained_assignment = None  # avoid slide-copy-warning

In [2]:
df = pd.read_csv("titanic.csv")
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
df_selection = df[["Survived", "Pclass", "Age", "SibSp", "Parch", "Fare"]]
df_selection.head()

   Survived  Pclass   Age  SibSp  Parch     Fare
0         0       3  22.0      1      0   7.2500
1         1       1  38.0      1      0  71.2833
2         1       3  26.0      0      0   7.9250
3         1       1  35.0      1      0  53.1000
4         0       3  35.0      0      0   8.0500

In [4]:
df_X = df_selection.drop(columns = ["Survived"])
df_y = df_selection["Survived"]
X_train, X_test, y_train, y_test = train_test_split(df_X, df_y, test_size=0.2, random_state=0)

### Augabe 1: Fehlende Werte auffüllen
- Überprüfen Sie welche Attribute in `X_train` N/A-Werte enthalten
- Füllen Sie diese Werte mit dem Durchschnittswerte der übrigen Werte aus der gleichen Spalte auf

### Aufgabe 2: Daten skalieren
- Skalieren Sie die Daten aus `X_train` mit einem `StandardScaler`

### Aufgabe 3:  Modelltraining
- Trainieren Sie das Modell auf dem skalierten `X_train` und `y_test`

### Aufgabe 4: Evaluation
- Entfernen Sie alle Datenpunkte mit N/A-Werten aus `X_test`
- Entfernen Sie die genau gleichen Zeilen auch aus `y_test`
- Skalieren Sie die Datenpunkte `X_test` mit dem gleichen skalieren wie in Aufgabe 2
- Machen Sie eine Vorhersage auf den skalierten Testdaten und berechnen sie Accuracy, Precision und Recall

### Aufgabe 5. Neues Feature `Embarked`
- Fügen Sie `Embarked` als weiteres Attribut zu `df_selection` hinzu (Zelle 3). 
- Führen Sie ein one-hot-encoding dieses Attributs durch und durchlaufen Sie Schritte aus Aufgabe 1 bis 4.
- Vergleichen Sie die Performance des Modells mit und ohne dieses Feature.